
/* cores pricipais do site */
:root {
    --bs-primary-rgb: 0, 51, 102;
    --bs-secondary-rgb: 255, 193, 7;
}

/*ajuste  e espaços da sessão prinipal do site */
.hero {
    position: relative;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    overflow: hidden;
}

/* formatação do vídeo de fundo do index */
.video-bg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
}

/* formata as imagens e deixa os cantos arredondados bem chique estilo profissional */
.card-img-top {
    height: 200px;
    object-fit: cover;
}

